<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="base.css" />
    <link rel="stylesheet" href="layout.css" />

    <title>Document</title>
  </head>
  <body>
    <ul class="searchResults">
      <% searchResults.forEach((book) => { %>
      <li>
        <!-- <li data-book-id="<%= book.isbn %>"> -->
        <div class="book-container">
          <img src= <%= book.image %>>
          <section>
            <h3><%= book.title %></h3>
            <span> <%= book.author %></span>
            <p class="description"><%= book.description %></p>
          </section>
        </div>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
