<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <title>Document</title>
    <link rel="stylesheet" href="/modules/bookview.css">
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="book-container">
      <img class="bookImg" src= <%= book.image %>>
      <section>
        <h2 class='title'><%= book.title %></h2>
        <h3 class='author'> <%= book.author %></h3>
        <h3 class='isbn'>ISBN: <%= book.isbn %></h3>
        <h3 class='bookshelf'>Shelf: <%= book.bookshelf %></h3>
        <p class="description"><%= book.description %></p>
      </section>
    </div>
  </body>
</html>
