  <!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <title>Document</title>
    <link rel="stylesheet" href="/modules/homepage.css">
    <link rel="stylesheet" href="/modules/bookview.css">
  </head>
  <body>
    <%- include('../partials/header') %>
    <ul class="searchResults">
      <li><h3 id='library-size'>Library Size: <%= books.length %> </h3></li>
      <% books.forEach((book) => { %>
      <li>
        <!-- <li data-book-id="<%= book.isbn %>"> <span> <%= book.author %></span>
            <p class="description"><%= book.description %></p>-->
            
          <!-- id SERIAL PRIMARY KEY,
  title VARCHAR(255),
  author VARCHAR(255),
  image VARCHAR(1000),
  isbn VARCHAR(15),
  description VARCHAR(255),
  bookshelf VARCHAR(255)-->
        <form id="<%= book.isbn; %>" action="/books/<%= book.id %>" method="POST" class="hidden">
          <input name="title" type="text" value="<%= book.title %>">
          <input name="author" type="text" value="<%= book.author %>">
          <input name="description" type="text" value="<%= book.description %>">
          <input name="isbn" type="text" value="<%= book.isbn %>">
          <input name="bookshelf" type="text" value="<%= book.bookshelf %>">
          <input name="image" type="text" value="<%= book.image %>">
        </form>
        <div class="book-container">
          <img src= <%= book.image %>>
          <section>
            <h3 class='title'><%= book.title %></h3>
            <input class='view-details' type="submit" form="<%= book.isbn; %>" value="View Details">
          </section>
        </div>
      </li>
      <% }); %>
    </ul>
    <h4> hi</h4>
  </body>
</html>
      -->